---
layout: page
---

{% for post in site.posts %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }} by <a href="#">{{ post.author }}</a></p>
    <p>
      {{ post.content }}
    </p>
    <div class="dropdown">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">Add to favorites</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Save for later</a></li>
      </ul>
    </div>
  </div>
{% endfor %}


<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
