---
layout: default
---

<div class="blog-header">
  <h1 class="blog-title">The Bootstrap Blog</h1>
  <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>

<div class="row">
  <div class="col-sm-8 blog-main">
    {{ content }}
  </div>
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    {% include sidebar.html %}
  </div>
</div>
